body{
	margin: 0;
}
.font-raleway{
    font-family: 'Raleway', sans-serif;
}
.font-quicksand{
    font-family: 'Quicksand', sans-serif;
}
.padding-top-ten{
  padding-top: 10px;
}
.bg-black{
  background-color: black;
}
.navbar-toggler{
  outline: none!important;
}
.nav-item a{
  text-decoration: none;
  color: white!important;
}
.product-dropdown{
  background-color: black!important;
}
.product-dropdown a:hover{
  color: black!important;
}
.top-bar-right a{
  margin-right: 10px;
  margin-left: 10px;
}
.top-bar-left p,img{
  padding-top: 2px;
}
.top-bar{
  background-color: #1A1A1A;
  height: 30px;
  color: white;
}
.section-top-margin{
	margin-top: 40px;
}
.padding-top-twenty{
	padding-top: 30px;
}
.blog-top{
  background-image: url('../images/contact.jpg');
  height: 60vh;
  background-size: cover;
  position: relative;
  text-align: center;
}
.blog-top h5{
  position: absolute;
  bottom: -8px;
  background-color: rgba(0,0,0,0.75);
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
.card{
	border: none;
	box-shadow: 1px 1px 3px 3px #99cc33;
	margin-top: 20px;
}
.card-footer{
	background-color: white;
	font-weight: 650;
}
#footer{
  background-image: url('../images/footer.jpg');  background-size: cover;
  height: 22em;
  color: white;
  width: 100%!important;
}
.footer-cp-link a{
  text-decoration: none;
  color: white;
}
.footer-social-media a{
  margin-left: 5px;
  margin-right: 5px;
}
hr{
  width: 60%;
  height: 1px;
  background-color: white;
}
.policies a{
  text-decoration: none;
  color: white;
}
.policies a:hover{
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px){
  #footer{
    height: 30em;
  }
  .blog-top{
    height: 50vh;
  }
  .policies{
    margin-top: 20px;
  }
  .collapse{
  margin-left: -80px!important;
}
}

.pagination > li > a,
.pagination > li > span {
    color: #99cc33!important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #99cc33!important;
    border-color: #99cc33!important;
    color: white!important;
}